In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
fake_df = pd.read_csv("Fake.csv")
true_df = pd.read_csv("True.csv")

In [3]:
fake_df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
true_df.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
fake_df['target']=[0]*len(fake_df)

In [6]:
fake_df.head()

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [7]:
true_df['target']= [1]*len(true_df)

In [8]:
true_df.head()

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [9]:
new_df =pd.concat([fake_df,true_df],ignore_index=True)

In [10]:
new_df.head()

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [11]:
new_df.sample(frac=1).reset_index(drop=True)

,title,text,subject,date,target
0,Trump Gets His A** Handed To Him By Marlee Ma...,Marlee Matlin may have had no comment on Thurs...,News,"October 14, 2016",0
1,U.S. says 'administrative error' blocked Indon...,JAKARTA (Reuters) - Indonesia s military chief...,worldnews,"October 25, 2017",1
2,Obama on Trump victory: we are now all rooting...,WASHINGTON (Reuters) - U.S. President Barack O...,politicsNews,"November 9, 2016",1
3,Not a Journalist: CNN’s Brian Stelter Manages ...,21st Century Wire says CNN s Brian Stelter hos...,Middle-east,"September 16, 2016",0
4,Vicente Fox Brilliantly Trolls Trump’s Disast...,Former Mexican President Vicente Fox has never...,News,"May 17, 2017",0
...,...,...,...,...,...
44893,SENATOR SPILLS MOST IMPORTANT INFO ON HILLARY:...,SENATOR D AMATO (NY) was on the Sunday shows r...,politics,"Jul 3, 2016",0
44894,A MUST WATCH: The Islamization Of Our Schools ...,A short excerpt from CAN s upcoming documentar...,Government News,"Jun 6, 2016",0
44895,EU calls for legal commission to vet new Polis...,BRUSSELS (Reuters) - The European Commission c...,worldnews,"September 25, 2017",1
44896,Leading Senator In Trump-Russia Investigation...,Ever since Donald Trump won the election (unfa...,News,"May 4, 2017",0
44897,EU executive warms to Franco-German call on em...,BRUSSELS (Reuters) - The European Union s exec...,worldnews,"September 14, 2017",1

In [12]:
new_df['target'].nunique()

2

In [13]:
new_df['target'].value_counts()

0    23481
1    21417
Name: target, dtype: int64

In [14]:
new_df.head()

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [15]:
new_df.shape

(44898, 5)

In [16]:
df = new_df.dropna().reset_index()

In [17]:
df.shape

(44898, 6)

In [18]:
new_df['title'][0]

' Donald Trump Sends Out Embarrassing New Year’s Eve Message; This is Disturbing'

In [19]:
new_df['text'][0]

'Donald Trump just couldn t wish all Americans a Happy New Year and leave it at that. Instead, he had to give a shout out to his enemies, haters and  the very dishonest fake news media.  The former reality show star had just one job to do and he couldn t do it. As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year,  President Angry Pants tweeted.  2018 will be a great year for America! As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year. 2018 will be a great year for America!  Donald J. Trump (@realDonaldTrump) December 31, 2017Trump s tweet went down about as welll as you d expect.What kind of president sends a New Year s greeting like this despicable, petty, infantile gibberish? Only Trump! His lack of decency won t even allow him to rise above the gutter long enough to wish the American citizens a happy new year!  Bishop Talbert Swan (@TalbertSwan) December 31, 2017no one likes you  Calvin (@calvinstowell) December 31, 2017Your impeachment would make 2018 a great year for America, but I ll also accept regaining control of Congress.  Miranda Yaver (@mirandayaver) December 31, 2017Do you hear yourself talk? When you have to include that many people that hate you you have to wonder? Why do the they all hate me?  Alan Sandoval (@AlanSandoval13) December 31, 2017Who uses the word Haters in a New Years wish??  Marlene (@marlene399) December 31, 2017You can t just say happy new year?  Koren pollitt (@Korencarpenter) December 31, 2017Here s Trump s New Year s Eve tweet from 2016.Happy New Year to all, including to my many enemies and those who have fought me and lost so badly they just don t know what to do. Love!  Donald J. Trump (@realDonaldTrump) December 31, 2016This is nothing new for Trump. He s been doing this for years.Trump has directed messages to his  enemies  and  haters  for New Year s, Easter, Thanksgiving, and the anniversary of 9/11. pic.twitter.com/4FPAe2KypA  Daniel Dale (@ddale8) December 31, 2017Trump s holiday tweets are clearly not presidential.How long did he work at Hallmark before becoming President?  Steven Goodine (@SGoodine) December 31, 2017He s always been like this . . . the only difference is that in the last few years, his filter has been breaking down.  Roy Schulze (@thbthttt) December 31, 2017Who, apart from a teenager uses the term haters?  Wendy (@WendyWhistles) December 31, 2017he s a fucking 5 year old  Who Knows (@rainyday80) December 31, 2017So, to all the people who voted for this a hole thinking he would change once he got into power, you were wrong! 70-year-old men don t change and now he s a year older.Photo by Andrew Burton/Getty Images.'

In [20]:
    df['subject'].unique()

array(['News', 'politics', 'Government News', 'left-news', 'US_News',
       'Middle-east', 'politicsNews', 'worldnews'], dtype=object)

In [21]:
new_df.head()

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [22]:
new_df = new_df.drop(['date'],axis=1)

In [23]:
new_df.head()

,title,text,subject,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,0

In [24]:
new_df.nunique()

title      38729
text       38646
subject        8
target         2
dtype: int64

In [25]:
new_df.head()

,title,text,subject,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,0

In [26]:
new_df= new_df.drop(['text'],axis=1)

In [27]:
new_df.head()

                                               title subject  target
0   Donald Trump Sends Out Embarrassing New Year’...    News       0
1   Drunk Bragging Trump Staffer Started Russian ...    News       0
2   Sheriff David Clarke Becomes An Internet Joke...    News       0
3   Trump Is So Obsessed He Even Has Obama’s Name...    News       0
4   Pope Francis Just Called Out Donald Trump Dur...    News       0

In [28]:
import nltk
from nltk.corpus import stopwords
def preprocess(text):
    stop_words = set(stopwords.words('english'))
    text = text.lower()
    text_token = nltk.word_tokenize(text)
    text_token = [word for word in text_token if not word in stop_words and word.isalpha()]
    return text_token #

In [29]:
print(preprocess(new_df['title'][0]))

['donald', 'trump', 'sends', 'embarrassing', 'new', 'year', 'eve', 'message', 'disturbing']

In [30]:
new_df.head()

                                               title subject  target
0   Donald Trump Sends Out Embarrassing New Year’...    News       0
1   Drunk Bragging Trump Staffer Started Russian ...    News       0
2   Sheriff David Clarke Becomes An Internet Joke...    News       0
3   Trump Is So Obsessed He Even Has Obama’s Name...    News       0
4   Pope Francis Just Called Out Donald Trump Dur...    News       0

In [31]:
new_df = new_df.drop(['subject'],axis=1)
new_df.head()

                                               title  target
0   Donald Trump Sends Out Embarrassing New Year’...       0
1   Drunk Bragging Trump Staffer Started Russian ...       0
2   Sheriff David Clarke Becomes An Internet Joke...       0
3   Trump Is So Obsessed He Even Has Obama’s Name...       0
4   Pope Francis Just Called Out Donald Trump Dur...       0

In [32]:
new_df['title']= new_df['title'].apply(lambda x:preprocess(x))

In [33]:
new_df.head()

                                               title  target
0  [donald, trump, sends, embarrassing, new, year...       0
1  [drunk, bragging, trump, staffer, started, rus...       0
2  [sheriff, david, clarke, becomes, internet, jo...       0
3  [trump, obsessed, even, obama, name, coded, we...       0
4  [pope, francis, called, donald, trump, christm...       0

In [34]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [35]:
X = new_df.drop(['target'],axis=1)
Y = new_df['target']

In [36]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,random_state=1)

In [37]:
x_train.shape

(33673, 1)

In [38]:
y_train.shape

(33673,)

In [39]:
def prepare_corpus(text_list):
    final_corpus = []
    for val in text_list:
        final_corpus.append(" ".join(val))
    return final_corpus

In [40]:
x_train_corpus = prepare_corpus(x_train['title'])

In [41]:
x_train_corpus[:2]

['watch trump want us remember said russia',
 'democrat convention schedule revealed']

In [42]:
x_test_corpus = prepare_corpus(x_test['title'])

In [43]:
x_test_corpus[:2]

['trump calls racist policy forced every state',
 'republican secretary cohen backs hillary clinton']

In [44]:
tfidfv = TfidfVectorizer()
x_train_corpus=tfidfv.fit_transform(x_train_corpus)
x_test_corpus = tfidfv.transform(x_test_corpus)

In [45]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

# Logistic Regression
lr = LogisticRegression(solver='lbfgs', multi_class='multinomial')
lrmodel = lr.fit(x_train_corpus, y_train)
y_pred_lr = lrmodel.predict(x_test_corpus)
accuracy_lr = accuracy_score(y_pred_lr, y_test)
print("Logistic Regression Accuracy:", accuracy_lr)

# Support Vector Machine (SVM)
svm = SVC()
svm_model = svm.fit(x_train_corpus, y_train)
y_pred_svm = svm_model.predict(x_test_corpus)
accuracy_svm = accuracy_score(y_pred_svm, y_test)
print("SVM Accuracy:", accuracy_svm)

Logistic Regression Accuracy: 0.9485968819599109
SVM Accuracy: 0.9579510022271714